body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  
}

.container {
  display: flex;
  height: 100vh;
  
}

.sidebar {
  width: 300px;
  background-color: #333366;
  padding: 20px;
  color: white;
  
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 30px; /* make links clearly readable */
}

.sidebar h2 {
  margin-bottom: 20px;
  color: rgb(255, 45, 45);
  font-size: 40px; /* make PQC Seminar slightly bigger */

}

.content {
  padding: 20px;
  flex: 1;
  background-color: white;
  overflow-y: auto;
  font-size: 25px; /* make PQC Seminar slightly bigger */
}

.content h1 {
  /* padding: 20px; */
  margin-top: 40px; /* increase or decrease as needed */
  flex: 1;
  background-color: white;
  overflow-y: auto;
  font-size: 55px; /* make PQC Seminar slightly bigger */
}

.content h2 {
  /* padding: 20px; */
  margin-top: 40px; /* increase or decrease as needed */
  flex: 1;
  background-color: white;
  overflow-y: auto;
  font-size: 25px; /* make PQC Seminar slightly bigger */
}

.content ul {
  /* padding: 20px; */
  flex: 1;
  background-color: white;
  overflow-y: auto;
  font-size: 20px; /* make PQC Seminar slightly bigger */
}


table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px; /* make PQC Seminar slightly bigger */
}

table, th, td {
  border: 1px solid #999;
  padding: 8px;
}

th {
  background-color: #ddd;
}

.members-list {
  list-style-position: inside;
}

.members-list li {
  font-size: 30px;
  margin-bottom: 10px;
}